article :first-child{
    color: darkblue;
    background-color: rosybrown;
}
article :first-of-type{
    color: chartreuse;
}
section::first-line{
    color: seagreen;
}

/* ::selection{
    color: red;
} */