table{
    /* border: 2px solid blue; */
    border-collapse: collapse;
}
td{
    border: 2px solid blue;
    height: 80px;
    width: 80px;
    text-align: center;
}
th{
    border: 2px solid blue;
    height: 80px;
    width: 80px;
    text-align: center;
}
td:nth-child(2n){
background-color: blueviolet;
}

