.container{
    display: flex;
}
.box{
    width:2rem;
    height: 2rem;
    background-color: turquoise;
    margin: 10px;;
}
.box-one{
    width:3rem;
    height: 3rem;
}
.box-two{
    width:4rem;
    height: 4rem;
}
.box-three{
    width:5rem;
    height: 5rem;
}
.box-four{
    width:6rem;
    height: 6rem;
}