.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px 200px 50px;
    grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m c c c c . ."
    "f f f f f f f f f f f f";
    grid-gap: 5px;
}
.header{
    background-color: dodgerblue;
    grid-area: h;
}
.menu{
    background-color: aqua;
    grid-area: m;
}
.content{
    background-color: green;
    grid-area: c;
}
.footer{
    background-color: brown;
    grid-area: f;
}